@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    position: absolute;
    left: 33%;
    border: solid black;
    background-color: white;
    width: 510px;
    height: 510px;
}

.title {
    text-align: center;
}

.options {
    text-align: center;
    margin: 20px;
}